---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortEnumsOnASingleLine: false
AlignConsecutiveMacros: Consecutive
IndentCaseLabels: true
IndentGotoLabels: true
